includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9

    paths:
        - src
        - tests

    excludePaths:
        - %currentWorkingDirectory%/migrations/*
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/.docker/*

    treatPhpDocTypesAsCertain: false

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        -
            message: '#Call to an undefined method Faker\\Generator::foodName\(\)#'
            path: src/DataFixtures/RecipeFixtures.php
        -
            message: '#Property App\\Entity\\Recipe::\$id \(int\|null\) is never assigned int#'
            path: src/Entity/Recipe.php