includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 7

    paths:
        - src
        - tests

    excludePaths:
        - %currentWorkingDirectory%/migrations/*
        - %currentWorkingDirectory%/var/*
        - %currentWorkingDirectory%/.docker/*

    treatPhpDocTypesAsCertain: false

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Property App\\Entity\\Recipe::\$id \(int\|null\) is never assigned int#'